{{#if products}}
    <table class="table table-striped">
      <thead>
        <tr style="color:cadetblue;">
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">Code</th>
          <th scope="col">Stock</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.id}}</td>
            <td>{{this.description}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td><img src={{this.thumbnails}} alt="" style="width: 100px; height:100px"/></td>
            <td><button type="button" class="btn btn-danger" onclick="deleteProduct({{this.id}})"
                >X</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#else}}
    <div>
      <h2 style="color:cadetblue;">Historial</h2>
      <h3 class="alert alert-danger">No se encontraron datos</h3>
    </div>
  {{/else}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>