  <header class="container mt-3">
        <h1>Formulario de carga de productos</h1>
  </header>
    <div class="container mt-3">
         <div class="jumbotron">
            <h2 style="color:cadetblue">Ingrese datos</h2>
            <br>
            <form id= "form-products">                
                <div class="form-group">
                    <label for="title"><b>Nombre</b></label>
                    <input id="form-title" class="form-control" type="text" name="title">
                </div>
                <div class="form-group">
                    <label for="price"><b>Precio</b></label>
                    <input id="form-price" class="form-control" type="number" name="price">
                </div>
                <div class="form-group">
                    <label for="description"><b>Descripcion</b></label>
                    <input id="form-description" class="form-control" type="text" name="description">
                </div>
                <div class="form-group">
                    <label for="code"><b>codigo</b></label>
                    <input id="form-code" class="form-control" type="text" name="code">
                </div>
                <div class="form-group">
                    <label for="stock"><b>stock</b></label>
                    <input id="form-stock" class="form-control" type="number" name="stock">
                </div>
                <div class="form-group">
                    <label for="thumbnail"><b>URL Imagen</b></label>
                    <input id="form-thumbnail" class="form-control" type="url" name="thumbnail">
                </div>
               <input type="submit" value="Crear producto" class="btn btn-primary"
            />
            </form>
         </div>
   <div>
  {{#if products}}
    <table class="table table-striped">
      <thead>
        <tr style="color:cadetblue;">
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">Code</th>
          <th scope="col">Stock</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.pid}}</td>
            <td>{{this.description}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td><img src={{this.thumbnail}} alt="" style="width: 100px; height:100px"/></td>
            <td><button type="button" class="btn btn-danger" onclick="deleteProduct({{this.pid}})"
                >X</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#else}}
    <div>
      <h2 style="color:cadetblue;">Historial</h2>
      <h3 class="alert alert-danger">No se encontraron datos</h3>
    </div>
  {{/else}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>